trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: CI
  displayName: CI Stage
  jobs:
  - job: CIWork
    displayName: Terraform CI
    steps:
    - task: TerraformInstaller@1
      inputs:
        terraformVersion: 'latest'

    - task: TerraformTask@5
      inputs:
        provider: 'azurerm'
        command: 'init'
        workingDirectory: '$(System.DefaultWorkingDirectory)/environments/dev'
        backendServiceArm: 'Azure-Service-Connection-Name'
        backendAzureRmResourceGroupName: 'stg_rg'
        backendAzureRmStorageAccountName: 'stgbckup'
        backendAzureRmContainerName: 'stgcntnr'
        backendAzureRmKey: 'dev.terraform.tfstate'
